{
  "USER" : {
    "CREATE" : "/src/user/create.php",
    "LOGIN" : "/src/user/login.php",
    "SELECT" : "/src/user/select.php"
  },
  "ADMIN" : {
    "LOGIN" : "/src/admin/login.php",
    "LIST" : "/src/admin/list.php",
    "INFO" : "/src/admin/info.php"
  },
  "INFO" : {
    "INSERT" : "/src/info/insert.php",
    "DETAIL" : "/src/info/detail.php",
    "SELECT" : "/src/info/select.php",
    "POINT" : "/src/info/point.php"
  },
  "BOARD" : {
    "INSERT" : "/src/board/insert.php",
    "LIST" : "/src/board/list.php",
    "DELETE" : "/src/board/delete.php",
    "DETAIL" : "/src/board/detail.php"
  },
  "RANK" : {
    "SOCIAL" : "/src/rank/social.php",
    "INBODY" : "/src/rank/inbody.php"
  },
  "GROUP" : {
    "JOIN" : "/src/group/join.php",
    "MYLIST" : "/src/group/mylist.php",
    "MEMBER" : "/src/group/member.php",
    "JOINOUT" : "/src/group/joinout.php"
  },
  "TEST" : {
    "MYTEST" : "/src/test/test.php"
  }
}